@import 'reset';
@mixin girar($graus) {
    transform: rotate($graus);
    -webkit-transform: rotate($graus);
    -moz-transform: rotate($graus);
    -ms-transform: rotate($graus);
}

$cor-fonte: #333;
$cor-fundo: #EEEEEE;
$borda-padrao: 10px;

/*body {
    background-color: $cor-fundo;
    color: $cor-fonte;
}
*/

.quadrado {
    width: 200px;
    height: 200px;
    border: $borda-padrao solid #000;
}

nav {
    background-color: #bbbbbb;
    height: 100px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    li {
        display: inline-block;
        @include girar(90deg);
        a {
            display: block;
            background-color: green;
            padding: 10px;
            text-decoration: none;
            color: #000;
        }
    }
}