/*
BEM = Block Element Modifiers

Block
-- Sem dependências hierarquica
-- Usar class apenas. (sem tag ou id)

Element
-- Nome do block e __

Modifiers
-- Nome do block--nome-do-modificador
*/

.button {
    border: 1px solid #CCCCCC;
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
}

.button--green {
    background-color: #00ff00;
}

.button--blue {
    background-color: #0000ff;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.title--underline {
    text-decoration: underline;
}

.form {
    background-color: #eeeeee;
    padding: 15px;
    border: 1px solid #CCCCCC;
    width: 300px;
}

.form__input {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form__submit {
    border: 1px solid #cccccc;
    background-color: #999999;
    padding: 10px;
    font-size: 15px;
    display: block;
    width: 100%;
}

.form--small {
    padding: 5px;
}

.form--small .form__input {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

.form--small .form__submit {
    padding: 5px;
    font-size: 12px;
}

.form__submit--green {
    background-color: #00ff00;
    color: #FFFFFF;
}

.bloco {
    display: inline-block;
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.bloco--padding-small {
    padding: 5px;
}